*.so
*.rbc
*.bundle
/.bundle
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/gems
/vendor/cache
Gemfile.lock

ext/tree-sitter/out/*.o
ext/tree-sitter/out/*.c
ext/tree-sitter/out/*.a

.byebug_history
